.voteBtn {
  height: 2rem;
  width: 2rem;
  font-size: 0.9rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chosen {
  background-color: lightgreen;
}

.votedContainer {
  padding: 1rem 0;
  display: grid;
  grid-template-columns: 1fr 300px;
}

.votedTitle {
  font-size: 1.2rem;
  font-weight: 300;
  margin: 1rem 0;
}

.voteList {
  list-style: none;
}

.voteList li {
  font-size: 1.1rem;
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

.image {
  display: inline-block;
  margin-right: 10px;
  width: 40px;
  height: auto;
}

.voted {
  color: green;
}

.notVoted {
  color: red;
}

.votedTitle {
  margin-bottom: 0.5rem;
}

.votedStats {
  list-style: none;
}
