.title {
  margin-bottom: 2rem;
}

.voteTitle {
  display: flex;
  padding: 0 1.25rem;
}

.voteList {
  list-style: none;
}

.voted,
.votes {
  display: inline-block;
  width: 100px;
  text-align: center;
}
